/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
    
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
  }
  
  h1 {
    font-size: 35px;
  }
  
  p {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #welcome_section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://bulgogichan.files.wordpress.com/2015/05/high-quality-space-wallpapers-and-stars-hd-space-wallpapers-1080p-portrait.jpg")
  }
  
  #projects {
    height: 500px;
    text-align: center;
  }
  
  .row {
    display:flex;
    flex-direction: row;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px;
  }
  
  .profile-links {
    display: flex;
  }
  
  @media only screen and (max-width: 600px) {
    #profile-link {
      display: none;
    }
  }